/*链接相关样式*/
.header a:link{ color:white;}  /*默认为白色*/
.header a:visited {color:white;}  /*已访问链接 */
 .headera:hover {color:black;}  /* 鼠标移动到链接上 */
 .headera:active {color:#0000FF;}  /* 鼠标点击时 */
 .headera {
 text-decoration:none;
 }	
/*头部内容*/
.header {
margin-top: 0px;
width: 100%;
height: 40px;
background-color: #00ccff; /*水蓝色*/
}
.top{
float: left;
margin-top: 10px;
margin-left: 5%;
}
.top-last{
margin-top:-4px;
float:right;
 margin-right:5px;
}
/* 所有的登录按键 */
.login{
background-color: #4CAF50;
color: white;
padding: 10px 20px;
margin:5px 0;
border: none;
cursor: pointer;/**/
width: 100%;
}
/*浅色*/
.login:hover {
opacity: 0.8;
}

/*底层相关信息*/
.bottom-footer {
    float: left;
    margin-top: 20px;
    width: 100%;
    height: 30px;
    background-color: gray;
    text-align: center;
  }
  
  .bottom-footer a {
    font-size: 23px;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 15px;
    /* margin-top: 0px; */
    color: aliceblue;
  }
  .bottom-footer a:hover {
    color: #ff702d;
    text-decoration-line: underline; /*修改为有下划线*/
    text-decoration-style: solid; /*设置为默认*/
    text-decoration-color: currentcolor; /*修改下划线颜色*/
  }


